<!DOCTYPE html>
<html>
  <head>
    <title>Play!</title>
    <%= javascript_include_tag 'i18n' %>
    <%= javascript_include_tag 'translations' %>
    <%= load_global8ball_game %>
    <script type="text/javascript">
      function parseGetCurrentState(e) {
        var config = <%= raw @game.config %>;

        ball_positions = {};
        ball_positions['PlayForBegin'] = <%= raw Global8ballGame::BallPosition.config_json "PlayForBegin" %>;
        ball_positions['PlayForBegin'].balls[0].owner = config.player_1.user_id;
        ball_positions['PlayForBegin'].balls[1].owner = config.player_2.user_id;

        ball_positions['PlayForVictory'] = <%= raw Global8ballGame::BallPosition.config_json "PlayForVictory" %>;

        options = {
          current_stage: {
            stage_name: window.current_stage,
            round: 0
          },
          balls: ball_positions[window.current_stage].balls
        };

        window.game.events.onSetState.dispatch(options);
      };
      function loadGame() {
        var config = <%= raw @game.config %>;

        var current_viewer_select = document.getElementById('current_viewer');
        var current_viewer = JSON.parse(current_viewer_select.options[current_viewer_select.selectedIndex].value);
        config['current_viewer'] = current_viewer;

        var current_stage_select = document.getElementById('current_stage');
        window.current_stage = current_stage_select.options[current_stage_select.selectedIndex].value;

        document.getElementById('menu_top').style.display = 'none';
        document.getElementById('menu_right').style.display = 'inline';

        window.game = window.initGlobal8Ball(config);

        window.game.events.onGetState.add(parseGetCurrentState);
      };
      function parseCurrentStage() {
        var current_stage_select = document.getElementById('current_stage');
        var current_stage = current_stage_select.options[current_stage_select.selectedIndex].value;

        if (current_stage == 'PlayForVictory') {
          document.getElementById('breaker').style.display = '';
        } else {
          document.getElementById('breaker').style.display = 'none';
        }
      };
    </script>
    <style type="text/css">
      html {
        font: bold 24px Arial;
      }
      .button {
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
      }
      .menu select {
      }
      .menu_right {
        float: right;
      }
      #da-game {
        height:105vh;
        width:140vh;
      }
    </style>
  </head>
  <body>
    <div id="menu_top" class="menu">
      <p>Select the current viewer: <%= current_viewer_select %></p>
      <p>Select the current stage: <%= current_stage_select%></p>
      <p id="breaker" style="display: none;">Select who breaks: <%= current_break_select%></p>
      <a href="#" id="lets_play" class="button" onclick="loadGame();">Let's play</a>
    </div>
    <div id="menu_right" class="menu menu_right" style="display: none;">
      <a href="#" id="reload" class="button" onclick="window.location = '/';">Reload</a>
    </div>
    <div id="da-game"></div>
  </body>
  <script type="text/javascript">
    var elem = document.getElementById('current_stage');
    elem.addEventListener('change', parseCurrentStage, false);
  </script>
</html>
