<!DOCTYPE html>
<html>
  <head>
    <title>Play!</title>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'i18n' %>
    <%= javascript_include_tag 'translations' %>
    <%= javascript_include_tag 'dummy_component' %>
    <%= javascript_include_tag 'cable' %>
    <%= load_global8ball_game %>
    <script type="text/javascript">
      var dummy_component = new DummyComponent(<%= @game.id %>,<%= raw @game.config %>);
    </script>
  </head>
  <body>
    <div id="menu_top" class="menu">
      <p>Select the current viewer: <%= current_viewer_select %></p>
      <p>Select the current stage: <%= current_stage_select%></p>
      <p id="breaker" style="display: none;">Select who breaks: <%= current_break_select%></p>
      <%= link_to "Let's play", "#", id: "lets_play", class: "button", onclick: "dummy_component.loadGame();" %>
    </div>
    <div id="menu_right" class="menu menu_right" style="display: none;">
      <a href="#" id="reload" class="button" onclick="window.location = '/';">Reload</a>
    </div>
  </body>
  <script type="text/javascript">
    var elem = document.getElementById('current_stage');
    elem.addEventListener('change', dummy_component.parseSelectedStage, false);
  </script>
</html>
